
Item_types:
e  program
m  module
v  variable
p  procedure
t  type
c  comment

Section_types:
PROGRAM
MODULE
PUBLIC VARIABLES
PUBLIC PROCEDURES
VARIABLE
SUBROUTINE
FUNCTION
TYPE
SYNOPSIS
PURPOSE
ARGUMENTS
RETURN
ALGORITHM
COMMENT
NOTE
SOURCE
AUTHOR
HISTORY
VERSION
PRIVATE PROCEDURES

Section_ignore:
AUTHOR
HISTORY
VERSION
PRIVATE PROCEDURES

Src_dir:
../src

Doc_dir:
devel-man

Com_char:
!

Filenames:
pscf.f90
iterate_mod.f90
sweep_mod.f90
response_pd_mod.f90
scf_mod.f90
chemistry_mod.f90
chain_mod.f90
step_mod.f90
grid_mod.f90
fft3_mod.f90
basis_mod.f90
unit_cell_mod.f90
group_mod.f90
space_groups_mod.f90
grid_basis_mod.f90
field_io_mod.f90
response_mod.f90
response_step_mod.f90
extrapolate_mod.f90
spinodal_mod.f90
string_mod.f90
io_mod.f90
version_mod.f90
const_mod.f90

Format:
html

Access:
public

Done
