
Item_types:
e  program
m  module
v  variable
p  procedure
t  type
c  comment

Section_types:
PROGRAM
MODULE
PUBLIC VARIABLES
PUBLIC PROCEDURES
VARIABLE
SUBROUTINE
FUNCTION
TYPE
SYNOPSIS
PURPOSE
ARGUMENTS
RETURN
ALGORITHM
COMMENT
NOTE
SOURCE
AUTHOR
HISTORY
VERSION
PRIVATE PROCEDURES

Section_ignore:
AUTHOR
HISTORY
VERSION
PRIVATE PROCEDURES

Src_dir:
../src

Doc_dir:
devel-man

Com_char:
!

Filenames:
pscf.f
iterate_mod.f
sweep_mod.f
response_pd_mod.f
scf_mod.f
chemistry_mod.f
chain_mod.f
step_mod.f
grid_mod.f
fft3_mod.f
basis_mod.f
unit_cell_mod.f
group_mod.f
space_groups_mod.f
grid_basis_mod.f
field_io_mod.f
response_mod.f
response_step_mod.f
extrapolate_mod.f
spinodal_mod.f
string_mod.f
io_mod.f
version_mod.f
const_mod.f

Format:
html

Access:
public

Done
